<div class="mainContainer">
    <app-header></app-header>

    <div class="mainContent">
        <div class="currentSeasonsData">
            <span class="leagueName">{{ leagueName }}</span>
            <span class="groupName">{{ groupName}}</span>
        </div>

        <div class="line"></div>

        <div class="currentMatchContainer">

            <div class="currentMatchList" *ngFor="let match of matches" [routerLink]="['/match-info', match.matchID]">
                <span class="matchDate">{{ match.matchDateTime | date:'dd-MM-yyyy HH:mm' }}</span>

                <!-- Current match container -->
                <div class="currentMatch">

                    <!-- Team 1 -->
                    <div class="teamInfo">
                        <div class="currentTeam">
                            <img class="teamLogo" src="{{ match.team1.teamIconUrl }}" alt="Team Logo">
                            <span class="textEllipsis">{{ match.team1.teamName }}</span>
                        </div>
                        <div class="resultContainer">
                            <span>{{ match.finalResult?.pointsTeam1 }}</span>
                            <span>({{ match.halfTimeResult?.pointsTeam1 }})</span>
                        </div>
                    </div>

                    <!-- Team 2 -->
                    <div class="teamInfo">
                        <div class="currentTeam">
                            <img class="teamLogo" src="{{ match.team2.teamIconUrl }}" alt="Team Logo">
                            <span class="textEllipsis">{{ match.team2.teamName }}</span>
                        </div>
                        <div class="resultContainer">
                            <span>{{ match.finalResult?.pointsTeam2 }}</span>
                            <span>({{ match.halfTimeResult?.pointsTeam2 }})</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>