<footer>
    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </div>

    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="sort"></mat-icon>
    </div>

    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_outline"></mat-icon>
    </div>

    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star_border"></mat-icon>
    </div>

</footer>